

.foto{
	margin-bottom: 70px;
transform: translate(-50%);
	left:50%;
	position: absolute;
	z-index: 2;
	text-align: center;
}
.carousel{
	position: relative;
	z-index: 1;
}
.row-one{
	margin-top: 50px;
	margin-left:100px;
}
.wrap{
	margin-top: -20px;
	padding-left: 200px;
	width: 850px;
	display: flex;
}
.awesome{
	 color:#D5D5D4;
}
.awesome:hover{
	color:#B6A48D;
}
.loop{
	padding-right: 20px
}
.carousel-indicators li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #8D8D90;
}
.carousel-indicators .active{
	background-color: #242427;
	border: solid 1px #FFFFFF;
	height: 12px;
	width: 12px;
	margin-top: -1px;
}
.carousel-control-prev-icon{
font-size: 200px;
}
.left{
	font-size: 100px;
}
 .left:hover{
	color:#BFAF9E;
}
.png{
	position: absolute;
	margin-left: -80px;
	margin-top: -10px;
}
.waxom{
	position: relative;
}
.text{
	text-align: center;
}
.img{
	margin-right: 3%;
	text-align: center;
}
.row{
	margin-right: 0px;
}
.bot{
	margin-bottom: 70px;
}
.size{
	font-size:14px;
	line-height: 20px;
	margin-bottom: 30px;
}
.img-dop{
	text-align: center;
}
.block{
	text-align: center;
}
.line{
	border: 2px solid #F1EEE9;
	margin-bottom: 20px;
	margin-left: 90px
}
.height{
	line-height: 50px;
	font-size: 20px;
}
.background{
	background-color: #FBFAF8;
	height: 0px;
	margin-top: 50px;
	height: 605px;
}
.center{
	text-align: center;
	padding-bottom: 20px;
	line-height: 20px;
	margin-bottom: 20px;
}
.top{
	text-align: center;
	padding-bottom: 20px;
	font-size: 30px;
	padding-top: 75px;
}
.back-one{
	background-image: url(img/back1.png);
	width: 600px;
	height: 320px;
	background-repeat:no-repeat;
	z-index: 1;
	position: absolute;
	background-size: cover;
	margin-top: 80px;
	margin-left: -180px;
}
.back-two{
	background-image: url(img/back2.png);
	background-size: cover;
	width: 610px;
	height: 320px;
	margin-top: 80px;
	margin-left: 180px;
	background-repeat:no-repeat;
	z-index: 2;
	position: absolute;
}
.back-three{
	background-image: url(img/back3.png);
	background-size: cover;
	width: 610px;
	height:360px;
	background-repeat:no-repeat;
	z-index: 3;
	position: relative;
}
.one{
	padding-top: 40px
}
.item{
	height: 360px;
}
									/*Waxom, class=gradient*/
.gradient{
	 background: linear-gradient(270deg, #533729,#211B19);
	width:100%;
	height: 150px;
	display: flex;
	margin-bottom: 70px;
	flex-direction: row;
}
.botton-now{
	background-color: #998675;
	border: none;
	color:white;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 60px;
	height: 50px;
	cursor: pointer;
}
.gradient-waxom{
	margin-top: 50px;
	line-height: 30px;
}
.waxom-dont{
	color:#5E5552;
}
.waxom{
	color:#FFFFFF;
}
.botton-now:hover{
	background-color: #111111;
	border:black;
}

												/*Our Latest Projects, class=grid*/

.grid{
	margin-bottom: 50px;
	display: grid;
	grid-template-columns: repeat(5, 1fr); 
 grid-column-gap: 20px;
 grid-template-columns: 80px 120px 120px 120px 120px ;

}
.grid-border{
	color:#8C8C8C;
	text-decoration: none;

}
.border{
	text-align: center;
	border-radius: 5px;
}
.border:hover{
	background-color: #998675;
	border: none;
}
.grid-border:hover{
	color:white;
	text-decoration: none
}
.card{
	border:none;
}
.body{
	background-color: #FBFAF8;
	line-height: 30px;
	position: relative;
}
.body::after {
    content: ''; 
    position: absolute;
  	top:-40px;
    border: 20px solid transparent;
    	border-bottom: 20px solid #FBFAF8;
   }
.big-block{
	margin-bottom: 40px;
	display: grid;
	grid-template-columns: repeat(3, 0fr);
 grid-gap: 30px;
}
.card-center{
	
	margin-left: auto;
	margin-right: auto;
	 grid-gap: 10px;
}
.text-in-card-big{
	font-size: 20px;
}
.text-in-card-small{
	font-size: 14px;
}

.link{
	transform: scale(0);
	 opacity: 0;
    font-size: 30px;
   transition: all .5s;
    font-family: 'Segoe UI';
    line-height: 235px;
    text-align: center;
}

.animation:hover .link{
    opacity: 1;
  transform: scale(1);
     background: rgba(0,0,0,0.6);
    cursor: pointer;
}

.animation:hover .body {
	background-color: #362F2D;
}
.animation:hover .body::after{
	border-bottom: 20px solid #362F2D;
   }
.icon{
	letter-spacing:20px;
	color:white;
}
.icon:hover{
	color:#C7B299;
}
.animation:hover .body .text-in-card-small{color:#C7B299}
.animation:hover .body .text-in-card-big{color:#FFFFFF}
.text-in-card-small{color:#D1D1D1;}
.text-in-card-big{color:#C7B299}

.load-button{
	background-color: #998675;
	color:white;
	margin-bottom: 80px;
}
.load-button:hover{
background-color:#111111;
}

.unit-one{
	background-image: url(img/unit-us-1.png);
}
.unit-two{
	background-image: url(img/unit-us-2.png);
}
.unit-three{
	background-image: url(img/unit-us-3.png);
}
.unit-four{
	background-image: url(img/unit-us-4.png);
}

.Untitled{
	background-repeat: no-repeat;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}
.block:hover .line{
	border: 2px solid #C7B299;
}
.block:hover .height{
	color:#C7B299;
}
.block:hover .unit-one{
	background-image: url(img/unit-1.png);
}
.block:hover .unit-two{
	background-image: url(img/unit-2.png);
}
.block:hover .unit-three{
	background-image: url(img/unit-3.png);
}
.block:hover .unit-four{
	background-image: url(img/unit-4.png);
}
